{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

{% trans_default_domain 'FOSUserBundle' %}

<div class="panel panel-info">
  <div class="panel-heading">~ <span class="glyphicon glyphicon-heart-empty"></span> ~ . Zarejestruj się . ~ <span class="glyphicon glyphicon-heart-empty"> ~</span></div>
  <div class="panel-body">

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" class = "btn btn-info"value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}

   </div>
</div>

{% endblock fos_user_content %}
