{% extends 'CarBundle::layout.html.twig' %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-body">
	<div class="row">
		<div class="col-sm-12 col-lg-6 col-lg-offset-3">
			<div class="alert alert-info" role="alert">Wypożyczenie przebiegło pomyślnie <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></div>
		</div>
	</div>
	<div class="row">
		<p> Dziękujemy za skorzystanie z naszych usług!  
		
		<p> Zapraszamy ponownie. 
		<br><br>
		<p><i>Szczegóły wszystkich swoich wypożyczeń znajdziesz w zakładce <a href="http://v-ie.uek.krakow.pl/~s179849/app_dev.php/history">Historia zamówień</a>.</i>
	</div>	
  </div>
</div>
{% endblock %}