{% extends 'CarBundle::layout.html.twig' %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-body">
    
	<p> Dziękujemy! Wypożyczenie przebiegło pomyślnie. 
	
	<p> Zapraszamy ponownie. 
	<br><br>
	<p><i>Szczegóły wszystkich swoich wypożyczeń znajdziesz w zakładce historia</i>

  </div>
</div>
{% endblock %}