<html>
	<head>
		<meta charset="UTF-8">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
		
		<link rel="stylesheet" type="text/css" href="{{asset('bundles/carbundle/style.css')}}"> 
		
		<title>Wypo偶yczalnia</title>
	</head>	
	<body>
		<header class="page-header">
			<div class="container text-center">
				<div class="row">
					<div class="col-sm-12 col-lg-6 col-lg-offset-3">
						<h1>Wypo偶yczalnia "<b>AutoKot</b>"</h1>
						<h4>Najlepsze samochody w miecie</h4>
					</div>
					<div class="col-sm-6 col-lg-2">
						<a href="http://v-ie.uek.krakow.pl/~s179849/app_dev.php"> <img class="img-responsive" src="http://cloudkingdom.com/Samples/Images/CarGames.jpg"></a>
					</div>
				</div>	
			</div>
		</header>
		<div class="container text-center">
		<div class="container" id="menu">
			<div class="row">
				{% block menu %}
				
					{% if app.user %}					
						<ul class="nav nav-pills">
							<li role="nawigacja" class="active"><a href="http://v-ie.uek.krakow.pl/~s179849/app_dev.php">Strona G贸wna</a></li>
							<li role="nawigacja" ><a href="http://v-ie.uek.krakow.pl/~s179849/app_dev.php/history">Historia zam贸wie</a></li>
							<li role="nawigacja" ><a href="http://v-ie.uek.krakow.pl/~s179849/app_dev.php/logout">Wyloguj si</a></li>
						</ul>	
					{% else %}	
						<ul class="nav nav-pills">						
							<li role="nawigacja" class="active"><a href="http://v-ie.uek.krakow.pl/~s179849/app_dev.php">Strona G贸wna</a></li>
							<li role="nawigacja"><a href="http://v-ie.uek.krakow.pl/~s179849/app_dev.php/login">Zaloguj si</a></li>
							<li role="nawigacja"><a href="http://v-ie.uek.krakow.pl/~s179849/app_dev.php/register">Zarejestruj si</a></li>
						</ul>
					{% endif %}
				<br><br>	
				{% endblock %}
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div id="sidebar" class="col-sm-12 col-lg-2">
					{% block sidebar %}
						<div class="panel panel-default">
							<div class="panel-heading">O nas</div>
							<div class="panel-body">
								<p> 	Jestesmy firma zajmujaca sie wypozyczaniem wysokiej jakosci samochodow osobowych, dziaajaca na
									rynku od 2012 roku. W naszej bogatej ofercie znajdziesz samochody idealnie dostosowane do Twoich 
									potrzeb oraz portfela. Nasza kadra to wysoce wykwalifikowani pracownicy o ogromnej wiedzy, z pasja
									oddajacy sie swojej pracy. Korzystajac z naszych uslug z pewnoscia zarazisz sie pozytywna atmosfera
									jaka panuje w naszych szeregach. Naszym mottem jest: najlepsze na dola sa cztery kola! </p>
							</div>	
						</div>
						<div class="alert alert-info" role="alert">
							Kontakt:       tel:7985543234       email:autokot@op.pl
						</div>
					{% endblock %}
				</div>
				<div id="content" class="col-sm-12 col-lg-10">
					{% block content %}
						<p>Content. Jestem w layoucie. </p>
					{% endblock %}
				</div>
			</div>
		</div>
		<footer>
			<div class="container">
				<p>(c) Roksana Butryn, Aleksandra Wojdya, Bartomiej Wr贸bel - Uniwersytet Ekonomiczny w Krakowie</p>
			</div>
		</footer>
	</body>	
</html>

